.header__icon {
  width: 140px;
}
img.header__icon {
  padding-top: 0px;
  padding-bottom: 0px;
}
.header {
  background-color: black;
}

.ms-auto {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.ms-auto .nav-link {
  position: relative;
  color: white;
  transition: color 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  border-radius: 5px;
  padding: 5px 10px;
}

.ms-auto .nav-link:hover,
.ms-auto .nav-link:focus {
  color: #ffd700;
  background-color: rgba(255, 215, 0, 0.2);
  box-shadow: 0 0 10px 3px rgba(255, 215, 0, 0.5);
}
